@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  min-height: 100vh;
  color: white;
  background-color: rgb(9, 67, 118);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}